<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.AttendanceShiftMapper">

    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        id,
        shift_name,
        shift_type,
        start_time,
        end_time,
        allow_late,
        is_cross_day,
        night_allowance,
        del_flag
        FROM attendance_shift
        WHERE 1 = 1
        <if test="queryForm.shiftName != null and queryForm.shiftName != ''">
            AND shift_name LIKE CONCAT('%',#{queryForm.shiftName},'%')
        </if>
        <if test="queryForm.shiftType != null and queryForm.shiftType != ''">
            AND shift_type = #{queryForm.shiftType}
        </if>
        order by id desc
    </select>
</mapper>
