<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.AttendanceShiftMapper">

    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        ash.id,
        ash.shift_name,
        ash.shift_type,
        ash.start_time,
        ash.end_time,
        ash.allow_late,
        ash.is_cross_day,
        ash.week_day,
        ash.night_allowance,
        ash.del_flag,
        ash.dept_id,
        ash.staff_ids,
        di.dept_name
        FROM attendance_shift ash
        LEFT JOIN dept_info di on (di.id = ash.dept_id)
        WHERE 1 = 1
        <if test="queryForm.shiftName != null and queryForm.shiftName != ''">
            AND ash.shift_name LIKE CONCAT('%',#{queryForm.shiftName},'%')
        </if>
        <if test="queryForm.shiftType != null and queryForm.shiftType != ''">
            AND ash.shift_type = #{queryForm.shiftType}
        </if>
        order by ash.id desc
    </select>
</mapper>
